<!DOCTYPE html>
<html lang="en-gb">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice Sender</title>
</head>
<body>
    <form action="/submitted" method="POST">
        <label for="invoicenumber">Invoice Number:</label>
        <input type="text" id="invoicenumber" name="invoicenumber" placeholder="431"><br>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Steve"><br>
        <label for="trade">Trade:</label>
        <input type="text" id="trade" name="trade" placeholder="Painter"><br>
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" placeholder="High Street London"><br>
        <label for="hourlyrate">Hourly Rate:</label>
        <input type="text" id="hourlyrate" name="hourlyrate" placeholder="21.50"><br>
        <label for="monday">Monday:</label>
        <input type="text" id="monday" name="monday" placeholder="9.50"><br>
        <label for="tuesday">Tuesday:</label>
        <input type="text" id="tuesday" name="tuesday" placeholder="9.50"><br>
        <label for="wednesday">Wednesday:</label>
        <input type="text" id="wednesday" name="wednesday" placeholder="9.50"><br>
        <label for="thursday">Thursday:</label>
        <input type="text" id="thursday" name="thursday" placeholder="9.50"><br>
        <label for="friday">Friday:</label>
        <input type="text" id="friday" name="friday" placeholder="9.50"><br>
        <label for="saturday">Saturday:</label>
        <input type="text" id="saturday" name="saturday" placeholder="9.50"><br>
        <label for="date">Select date:</label>
        <input type="date" id="date" name="date" placeholder=""><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>